<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tm12s_soft_two_fingers">
	<xacro:arg name="prefix" default="" />
	<xacro:arg name="color" default="none" />

	<xacro:include filename="$(find grasping_description)/xacro/robot-base/tm12s-base.urdf.xacro" />
	<xacro:include filename="$(find tm_description)/xacro/macro.materials.xacro" />
	<xacro:include filename="$(find tm_description)/xacro/macro.tm12s-nominal.urdf.xacro" />
	<xacro:include filename="$(find grasping_description)/xacro/tmee-spacer/tmee-spacer.urdf.xacro" />
	<xacro:include filename="$(find grasping_description)/xacro/camera/camera-mount.urdf.xacro" />
	<xacro:include filename="$(find gripper_description)/xacro/two-finger-gripper.urdf.xacro" />
	<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

	<link name="world" />

	<xacro:tm12s_base
		parent="world"
		prefix="$(arg prefix)"
		xyz="0 0 0.865"
		rpy="0 0 0" />

	<joint name="$(arg prefix)robot_base_to_tm12s_base" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0.785" />
		<parent link="$(arg prefix)tm12s_base_link" />
		<child link="$(arg prefix)base" />
	</joint>

	<xacro:tm12s
		ns=""
		prefix="$(arg prefix)"
		color="$(arg color)"
		format="obj" />

	<xacro:tmee_spacer
		parent="$(arg prefix)flange"
		prefix="$(arg prefix)"
		xyz="0 0 0"
		rpy="0 0 0" />

	<xacro:camera_mount
		parent="$(arg prefix)tmee_spacer_link"
		prefix="$(arg prefix)"
		xyz="0 0 0.055"
		rpy="0 0 3.14" />

	<xacro:two_finger_gripper
		parent="$(arg prefix)camera_mount_link"
		prefix="$(arg prefix)"
		xyz="0 0 0.008"
		rpy="0 0 0" />

	<xacro:sensor_d435 parent="$(arg prefix)camera_mount_link" name="$(arg prefix)camera">
		<origin xyz="0 -0.085 0.043" rpy="0 -1.57 1.57" />
	</xacro:sensor_d435>
</robot>